/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

*~
*.bak
\#*

/spec/c-check.o

# Spec creates directory
root
*.log
